fastapi==0.104.1
uvicorn==0.24.0
SQLAlchemy==2.0.23
asyncpg==0.29.0
pydantic==2.5.3
pydantic-settings==2.1.0
email-validator==2.3.0
pytest==8.2.0
httpx==0.28.1
anyio==3.7.1
python-dotenv==1.2.1
passlib
alembic